{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dahsboard</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <br>
    <div class="container bg-white shadow-md p-5" style="width:500px">
        <h1>Dahsboard</h1>
        <br>
        <p> Hi {{user}}!</p>
        <a href="{% url 'user-logout' %}">Logout</a>
    </div>
    <br>
</body>
</html>